<main class="main" id="top">
   
    <section class="py-0">
    
        <div class="bg-holder" style="background-image:url(assets/images/dot.png);background-position:left;background-size:auto;margin-top:-105px;"></div>
        <!--/.bg-holder-->
        <div class="container position-relative">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="assets/images/hero-header.png" alt="" /></div>
            <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
              <h2 class="mb-4 display-3 fw-bold">Healthcare <br class="d-block d-lg-none d-xl-block" />for you.</h2>
               <p class="mt-2 mb-2 fs-1">Meteor provides progressive, and affordable<br class="d-none d-lg-block" />healthcare, accessible on mobile and online<br class="d-none d-lg-block" />for everyone</p>
               <!-- <a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">Learn more</a> -->
            </div>
          </div>
        </div>
      </section>
    
  </main>
  
